@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;800&display=swap");
body {
  background-color: #010101;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #eeeeee;
  /* overflow-y: hidden; */
}

/*=========== Start-Screen======== */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.start-screen {
  width: 80%;
  padding: 100px 0;

  margin: 0 auto;
  background-image: url(./images/start-screen.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.logo {
  margin: 200px 0 0 0;
  width: 300px;
  height: 200px;
  background-image: url(./images/svg/logo-quiz.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
.categories {
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.categories-artist,
.categories-pictures {
  width: 200px;
  height: 50px;
  border: 1px #ffffff solid;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories-button {
  display: block;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
}
.nav__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
}
.nav__link svg {
  pointer-events: none;
}
.settings {
  position: absolute;
  top: 5%;
  right: 5%;
}
a {
  color: #ffffff;
}

/* ============PictureCategories/ArtistCategories */

.picture-inner-container,
.artist-inner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.picture-block,
.artist-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.picture-overwiew,
.artist-overwiew {
  display: flex;
  justify-content: space-between;
}
.picture-img,
.artist-img {
  border-radius: 30px;
  overflow: hidden;
}

.picture-skroll,
.artist-skroll {
  width: 200px;
  height: 200px;
  /* filter: grayscale(100%); */
}
.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-logo {
  width: 170px;
  height: 100px;
  background-image: url(./images/svg/logo-litle.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.navigation {
  display: flex;
  gap: 100px;
}
.navigation-link {
  text-decoration: none;
}

/*========== Settings */
.app-setting {
  display: flex;
  flex-direction: column;
}
.setting-header {
  display: flex;
  justify-content: space-around;
}
.setting-volume {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.setting-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.setting-btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.setting-btn-app {
  width: 290px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #eeeeee;
  background: transparent;
  color: #eeeeee;
}
