@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;800&display=swap");
body {
  background-color: #010101;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #eeeeee;
  /* overflow-y: hidden; */
}

/*=========== Start-Screen======== */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.start-screen {
  width: 80%;
  padding: 100px 0;

  margin: 0 auto;
  background-image: url(./images/start-screen.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.logo {
  margin: 200px 0 0 0;
  width: 300px;
  height: 200px;
  background-image: url(./images/svg/logo-quiz.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
.categories {
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.categories-artist,
.categories-pictures {
  width: 200px;
  height: 50px;
  border: 1px #ffffff solid;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories-button {
  display: block;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
}
.nav__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
}
.nav__link svg {
  pointer-events: none;
}
.settings {
  position: absolute;
  top: 5%;
  right: 5%;
}
a {
  color: #ffffff;
}

/* ============PictureCategories/ArtistCategories */

.picture-inner-container,
.artist-inner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.picture-block,
.artist-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.picture-overwiew,
.artist-overwiew {
  display: flex;
  justify-content: space-between;
}
.picture-img,
.artist-img {
  border-radius: 30px;
  overflow: hidden;
}

.picture-skroll,
.artist-skroll {
  width: 200px;
  height: 200px;
  /* filter: grayscale(100%); */
}
.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-logo {
  width: 170px;
  height: 100px;
  background-image: url(./images/svg/logo-litle.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.navigation {
  display: flex;
  gap: 100px;
}
.navigation-link {
  text-decoration: none;
}

/*========== Settings */
.app-setting {
  display: flex;
  flex-direction: column;
}
.setting-header {
  display: flex;
  justify-content: space-around;
  font-size: 28px;
  align-items: center;
}
.setting-header span {
  cursor: pointer;
}
.setting-volume {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.setting-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.setting-btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.setting-btn-app {
  width: 290px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #eeeeee;
  background: transparent;
  color: #eeeeee;
  cursor: pointer;
}
.progress-width {
  width: 65%;
}
.progress-volume {
  background: linear-gradient(
    to right,
    #ffbca2 0%,
    #ffbca2 36%,
    #fff 36%,
    #fff 100%
  );
  width: 20%;
  height: 2px;
  border-radius: 50px;

  outline: none;
  -webkit-appearance: none;
}
.progress-volume::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #eeeeee;
}
.volume-btn {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.volume-stop {
  width: 25px;
  height: 25px;
  background-image: url(./images/svg/volume-stop.svg);
}
.progressbar-btn {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
}
.volume {
  background-image: url(./images/svg/volume.svg);
  width: 20px;
  height: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #eeeeee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffbca2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffbca2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.timer-count-btn {
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.timer-number {
  background: transparent;
  border: 0;
  color: #eeeeee;
  text-align: center;
  font-size: 20px;
}
